name: ci

on:
  push:
  pull_request:

jobs:
  gateway:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: services/gateway-service
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: "1.23"
      - run: go mod tidy
      - run: go test ./... -count=1
